{% extends 'layout.html.twig' %}
{% block nav %}
                <ul class="nav navbar-nav">
                {% for sectionId,section in sections %}
                    <li><a href="{{ base_url }}/#section{{ sectionId }}">{{ section.label }}</a></li>
                {% endfor %}
                </ul>
{% endblock nav %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>The PHP/Javascript Local Docs Collection</h1>
            <p>
                A HUGE doc collection for PHP and Javascript web developers
            </p>
        </div>
    </div>


{% for sectionId,section in sections %}
    <section id="section{{ sectionId }}">
        <div class="pattern"></div>
        <div class="container">
            <div class="row">

                <div class="page-header">
                    <h2 class="text-center">{{ section.label }}</h2>
                </div>
                {% set countMain = 0 %}
                {% for doc in section.docs %}
                    {% set countMain = countMain + 1 %}
                <div class="col-md-3">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">{{ doc.label }}</div>
                            {% set count = 0 %}
                            <ul class="list-group">
                            {% for link,item in doc.links %}
                                <li class="list-group-item">
                                    <a href="{{ item.url }}" class="pull-right" target="blank" title="Link to original {{ doc.label }} / {{ item.label }} - {{ item.url }}"><i class="icon-external-link"></i></a>
                                    <a href="{{ base_url }}/frame.php?docurl={{ link }}">{{ item.label }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                    </div>
                </div>
                {% if countMain == 4 %}
                    {% set countMain = 0 %}
                    <div class="clearfix"></div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </section>
{% endfor %}
{% endblock content %}

