<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% if doctitle %}{{ doctitle }} | {% endif %}{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="{{ base_url }}/Resources/public/css/docs.min.css" rel="stylesheet">
        <link href="{{ base_url }}/Resources/public/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    </head>

    <body>

        <header class="navbar navbar-default navbar-fixed-top bs-docs-nav" role="banner">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if doctitle %}<a class="navbar-brand" href="{{ base_url }}/frame.php?docurl={{ docurl }}">{{ doctitle }} | {% endif %}</a>
                <a class="navbar-brand" href="{{ base_url }}">{{ menu_title }}</a>
            </div>

            <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
{% block nav %}
                <ul class="nav navbar-nav">
                    <li><a href="https://github.com/rafaelgou/doc-renderer" target="_blank">About Doc Renderer</a></li>
                    {% if link_to_source %}
                    <li><a href="{{ requestUriText }}">View Source</a></li>
                    {% endif %}
                </ul>
{% endblock nav %}
            </nav>
        </header>

{% block content %}
{% endblock content %}
{% block footer %}

        <footer>
            <p class="text-align"><a href="https://github.com/rafaelgou/doc-renderer" target="_blank">Doc Renderer</a> &copy; <a href="http://tech.rgou.net" target="_blank">Rafael Goulart</a> 2013</p>
        </footer>
{% endblock footer %}
        <script src="{{ base_url }}/Resources/public/js/docs.min.js"></script>

  </body>
</html>

